Source: libosmocore
Priority: optional
Maintainer: unknown <jrsantos@vanu.com>
Build-Depends: debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.1
Section: libs

Package: libosmocore-dev
Section: libdev
Architecture: any
Depends: libosmocore0 (= ${Source-Version})
Description: Open Source MObile COMmunications CORE library (Development files)

Package: libosmocore0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Open Source MObile COMmunications CORE library (Shared library)
